<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>controlador.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>controlador.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Con_clas</servlet-name>
        <servlet-class>modelo.Con_clas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Con_gen</servlet-name>
        <servlet-class>modelo.Con_gen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Con_pla</servlet-name>
        <servlet-class>modelo.Con_pla</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Consultasxd</servlet-name>
        <servlet-class>modelo.Consultasxd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Detallazos</servlet-name>
        <servlet-class>modelo.Detallazos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Todos</servlet-name>
        <servlet-class>modelo.Todos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Venta</servlet-name>
        <servlet-class>modelo.Venta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Compra</servlet-name>
        <servlet-class>modelo.Compra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ticket</servlet-name>
        <servlet-class>modelo.Ticket</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Con_clas</servlet-name>
        <url-pattern>/Con_clas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Con_gen</servlet-name>
        <url-pattern>/Con_gen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Con_pla</servlet-name>
        <url-pattern>/Con_pla</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consultasxd</servlet-name>
        <url-pattern>/Consultasxd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Detallazos</servlet-name>
        <url-pattern>/Detallazos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Todos</servlet-name>
        <url-pattern>/Todos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Venta</servlet-name>
        <url-pattern>/Venta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Compra</servlet-name>
        <url-pattern>/Compra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ticket</servlet-name>
        <url-pattern>/Ticket</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
